<a href="https://colab.research.google.com/github/AngelTroncoso/proyecto_telecomx/blob/main/telecoX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'
df = pd.read_json(url)
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [3]:
df = df[df['Churn'].str.strip() != '']

In [4]:
print(df['Churn'].unique())

['No' 'Yes']

In [5]:
df['Churn'].dtype

dtype('O')

In [6]:
df = pd.json_normalize(df.to_dict(orient='records'))
df

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7039,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7040,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7041,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7042,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [7]:
df.shape

(7043, 21)

In [8]:
rename_dict = {
    'customerID': 'ID_cliente',
    'Churn': 'Cancelado',
    'customer.gender': 'GÃ©nero',
    'customer.SeniorCitizen': 'Adulto_mayor',
    'customer.Partner': 'Tiene_pareja',
    'customer.Dependents': 'Tiene_dependientes',
    'customer.tenure': 'AntigÃ¼edad_meses',

    'phone.PhoneService': 'Servicio_telefonÃ­a',
    'phone.MultipleLines': 'LÃ­neas_mÃºltiples',

    'internet.InternetService': 'Servicio_internet',
    'internet.OnlineSecurity': 'Seguridad_en_lÃ­nea',
    'internet.OnlineBackup': 'Respaldo_en_lÃ­nea',
    'internet.DeviceProtection': 'ProtecciÃ³n_dispositivos',
    'internet.TechSupport': 'Soporte_tÃ©cnico',
    'internet.StreamingTV': 'TV_en_streaming',
    'internet.StreamingMovies': 'PelÃ­culas_en_streaming',

    'account.Contract': 'Tipo_contrato',
    'account.PaperlessBilling': 'Factura_sin_papel',
    'account.PaymentMethod': 'MÃ©todo_pago',
    'account.Charges.Monthly': 'Cargo_mensual',
    'account.Charges.Total': 'Cargo_total'
}

In [9]:
df = df.rename(columns=rename_dict)

In [10]:
df.shape

(7043, 21)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID_cliente               7043 non-null   object
 1   Cancelado                7043 non-null   object
 2   GÃ©nero                   7043 non-null   object
 3   Adulto_mayor             7043 non-null   int64
 4   Tiene_pareja             7043 non-null   object
 5   Tiene_dependientes       7043 non-null   object
 6   AntigÃ¼edad_meses         7043 non-null   int64
 7   Servicio_telefonÃ­a       7043 non-null   object
 8   LÃ­neas_mÃºltiples         7043 non-null   object
 9   Servicio_internet        7043 non-null   object
 10  Seguridad_en_lÃ­nea       7043 non-null   object
 11  Respaldo_en_lÃ­nea        7043 non-null   object
 12  ProtecciÃ³n_dispositivos  7043 non-null   object
 13  Soporte_tÃ©cnico          7043 non-null   object
 14  TV_en_streaming          7043 non-null   object
 15  PelÃ­culas_en_streaming   7043 non-null   object
 16  Tipo_contrato            7043 non-null   object
 17  Factura_sin_papel        7043 non-null   object
 18  MÃ©todo_pago              7043 non-null   object
 19  Cargo_mensual            7043 non-null   float64
 20  Cargo_total              7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [12]:
df.isnull().sum()

ID_cliente                 0
Cancelado                  0
GÃ©nero                     0
Adulto_mayor               0
Tiene_pareja               0
Tiene_dependientes         0
AntigÃ¼edad_meses           0
Servicio_telefonÃ­a         0
LÃ­neas_mÃºltiples           0
Servicio_internet          0
Seguridad_en_lÃ­nea         0
Respaldo_en_lÃ­nea          0
ProtecciÃ³n_dispositivos    0
Soporte_tÃ©cnico            0
TV_en_streaming            0
PelÃ­culas_en_streaming     0
Tipo_contrato              0
Factura_sin_papel          0
MÃ©todo_pago                0
Cargo_mensual              0
Cargo_total                0
dtype: int64

In [13]:
df['Cargo_total'] = df['Cargo_total'].str.replace(',', '.', regex=False)

In [14]:
df['Cargo_total'] = pd.to_numeric(df['Cargo_total'], errors='coerce')

In [15]:
df.head()

,ID_cliente,Cancelado,GÃ©nero,Adulto_mayor,Tiene_pareja,Tiene_dependientes,AntigÃ¼edad_meses,Servicio_telefonÃ­a,LÃ­neas_mÃºltiples,Servicio_internet,...,Respaldo_en_lÃ­nea,ProtecciÃ³n_dispositivos,Soporte_tÃ©cnico,TV_en_streaming,PelÃ­culas_en_streaming,Tipo_contrato,Factura_sin_papel,MÃ©todo_pago,Cargo_mensual,Cargo_total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40

In [16]:
df.dtypes

ID_cliente                  object
Cancelado                   object
GÃ©nero                      object
Adulto_mayor                 int64
Tiene_pareja                object
Tiene_dependientes          object
AntigÃ¼edad_meses             int64
Servicio_telefonÃ­a          object
LÃ­neas_mÃºltiples            object
Servicio_internet           object
Seguridad_en_lÃ­nea          object
Respaldo_en_lÃ­nea           object
ProtecciÃ³n_dispositivos     object
Soporte_tÃ©cnico             object
TV_en_streaming             object
PelÃ­culas_en_streaming      object
Tipo_contrato               object
Factura_sin_papel           object
MÃ©todo_pago                 object
Cargo_mensual              float64
Cargo_total                float64
dtype: object

In [17]:
for col in df.columns:
    print(f"\nðŸ“Œ Columna: {col}")
    print(df[col].unique())

ðŸ“Œ Columna: ID_cliente
['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']

ðŸ“Œ Columna: Cancelado
['No' 'Yes']

ðŸ“Œ Columna: GÃ©nero
['Female' 'Male']

ðŸ“Œ Columna: Adulto_mayor
[0 1]

ðŸ“Œ Columna: Tiene_pareja
['Yes' 'No']

ðŸ“Œ Columna: Tiene_dependientes
['Yes' 'No']

ðŸ“Œ Columna: AntigÃ¼edad_meses
[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42
  0]

ðŸ“Œ Columna: Servicio_telefonÃ­a
['Yes' 'No']

ðŸ“Œ Columna: LÃ­neas_mÃºltiples
['No' 'Yes' 'No phone service']

ðŸ“Œ Columna: Servicio_internet
['DSL' 'Fiber optic' 'No']

ðŸ“Œ Columna: Seguridad_en_lÃ­nea
['No' 'Yes' 'No internet service']

ðŸ“Œ Columna: Respaldo_en_lÃ­nea
['Yes' 'No' 'No internet service']

ðŸ“Œ Columna: ProtecciÃ³n_dispositivos
['No' 'Yes' 'No internet service']

ðŸ“Œ Columna: Soporte_tÃ©cnico
['Yes' 'No' 'No internet service']

ðŸ“Œ Columna: TV_en_streaming
['Yes' 'No' 'No internet service']

ðŸ“Œ Columna: PelÃ­culas_en_streaming
['No' 'Yes' 'No internet service']

ðŸ“Œ Columna: Tipo_contrato
['One year' 'Month-to-month' 'Two year']

ðŸ“Œ Columna: Factura_sin_papel
['Yes' 'No']

ðŸ“Œ Columna: MÃ©todo_pago
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

ðŸ“Œ Columna: Cargo_mensual
[65.6  59.9  73.9  ... 91.75 68.8  67.85]

ðŸ“Œ Columna: Cargo_total
[ 593.3   542.4   280.85 ...  742.9  4627.65 3707.6 ]

In [18]:
df['Cancelado'].value_counts(dropna=False)

Cancelado
No     5174
Yes    1869
Name: count, dtype: int64

In [20]:
df['GÃ©nero'].value_counts(dropna=False)

GÃ©nero
Male      3555
Female    3488
Name: count, dtype: int64

In [21]:
#Asumimos 30 dÃ­as promedio por mes:
df['Cuentas_Diarias'] = df['Cargo_mensual'] / 30

In [22]:
#validaciÃ³n rÃ¡pida
print(df[['Cargo_mensual', 'Cuentas_Diarias']].head())

   Cargo_mensual  Cuentas_Diarias
0           65.6         2.186667
1           59.9         1.996667
2           73.9         2.463333
3           98.0         3.266667
4           83.9         2.796667

In [23]:
#Resumen estadÃ­stico
df['Cuentas_Diarias'].describe()

count    7043.000000
mean        2.158723
std         1.003002
min         0.608333
25%         1.183333
50%         2.345000
75%         2.995000
max         3.958333
Name: Cuentas_Diarias, dtype: float64

In [24]:
df.head()

,ID_cliente,Cancelado,GÃ©nero,Adulto_mayor,Tiene_pareja,Tiene_dependientes,AntigÃ¼edad_meses,Servicio_telefonÃ­a,LÃ­neas_mÃºltiples,Servicio_internet,...,ProtecciÃ³n_dispositivos,Soporte_tÃ©cnico,TV_en_streaming,PelÃ­culas_en_streaming,Tipo_contrato,Factura_sin_papel,MÃ©todo_pago,Cargo_mensual,Cargo_total,Cuentas_Diarias
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30,2.186667
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40,1.996667
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,2.463333
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,3.266667
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40,2.796667

#2.Transformar datos para Machine Learning

In [25]:
#separar datos tipos object y darle una variable de asignacion para extraciÃ³n con cikitlearn
obj_cols = df.select_dtypes(include='object').columns
print("Columnas tipo object:\n", obj_cols)

Columnas tipo object:
 Index(['ID_cliente', 'Cancelado', 'GÃ©nero', 'Tiene_pareja',
       'Tiene_dependientes', 'Servicio_telefonÃ­a', 'LÃ­neas_mÃºltiples',
       'Servicio_internet', 'Seguridad_en_lÃ­nea', 'Respaldo_en_lÃ­nea',
       'ProtecciÃ³n_dispositivos', 'Soporte_tÃ©cnico', 'TV_en_streaming',
       'PelÃ­culas_en_streaming', 'Tipo_contrato', 'Factura_sin_papel',
       'MÃ©todo_pago'],
      dtype='object')

In [26]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for col in obj_cols:
    try:
        df[col] = le.fit_transform(df[col])
    except:
        print(f"No se pudo transformar: {col}")

In [27]:
df.nunique()

ID_cliente                 7043
Cancelado                     2
GÃ©nero                        2
Adulto_mayor                  2
Tiene_pareja                  2
Tiene_dependientes            2
AntigÃ¼edad_meses             73
Servicio_telefonÃ­a            2
LÃ­neas_mÃºltiples              3
Servicio_internet             3
Seguridad_en_lÃ­nea            3
Respaldo_en_lÃ­nea             3
ProtecciÃ³n_dispositivos       3
Soporte_tÃ©cnico               3
TV_en_streaming               3
PelÃ­culas_en_streaming        3
Tipo_contrato                 3
Factura_sin_papel             2
MÃ©todo_pago                   4
Cargo_mensual              1585
Cargo_total                6530
Cuentas_Diarias            1585
dtype: int64

In [28]:
df.head()

,ID_cliente,Cancelado,GÃ©nero,Adulto_mayor,Tiene_pareja,Tiene_dependientes,AntigÃ¼edad_meses,Servicio_telefonÃ­a,LÃ­neas_mÃºltiples,Servicio_internet,...,ProtecciÃ³n_dispositivos,Soporte_tÃ©cnico,TV_en_streaming,PelÃ­culas_en_streaming,Tipo_contrato,Factura_sin_papel,MÃ©todo_pago,Cargo_mensual,Cargo_total,Cuentas_Diarias
0,0,0,0,0,1,1,9,1,0,0,...,0,2,2,0,1,1,3,65.6,593.30,2.186667
1,1,0,1,0,0,0,9,1,2,0,...,0,0,0,2,0,0,3,59.9,542.40,1.996667
2,2,1,1,0,0,0,4,1,0,1,...,2,0,0,0,0,1,2,73.9,280.85,2.463333
3,3,1,1,1,1,0,13,1,0,1,...,2,0,2,2,0,1,2,98.0,1237.85,3.266667
4,4,1,0,1,1,0,3,1,0,1,...,0,2,2,0,0,1,3,83.9,267.40,2.796667

In [29]:
df.describe()

,ID_cliente,Cancelado,GÃ©nero,Adulto_mayor,Tiene_pareja,Tiene_dependientes,AntigÃ¼edad_meses,Servicio_telefonÃ­a,LÃ­neas_mÃºltiples,Servicio_internet,...,ProtecciÃ³n_dispositivos,Soporte_tÃ©cnico,TV_en_streaming,PelÃ­culas_en_streaming,Tipo_contrato,Factura_sin_papel,MÃ©todo_pago,Cargo_mensual,Cargo_total,Cuentas_Diarias
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,...,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7032.000000,7043.000000
mean,3521.000000,0.265370,0.504756,0.162147,0.483033,0.299588,32.371149,0.903166,0.940508,0.872923,...,0.904444,0.797104,0.985376,0.992475,0.690473,0.592219,1.574329,64.761692,2283.300441,2.158723
std,2033.283305,0.441561,0.500013,0.368612,0.499748,0.458110,24.559481,0.295752,0.948554,0.737796,...,0.879949,0.861551,0.885002,0.885091,0.833755,0.491457,1.068104,30.090047,2266.771362,1.003002
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000,0.608333
25%,1760.500000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,35.500000,401.450000,1.183333
50%,3521.000000,0.000000,1.000000,0.000000,0.000000,0.000000,29.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,70.350000,1397.475000,2.345000
75%,5281.500000,1.000000,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,2.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,89.850000,3794.737500,2.995000
max,7042.000000,1.000000,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000,118.750000,8684.800000,3.958333

In [30]:
df.dtypes

ID_cliente                   int64
Cancelado                    int64
GÃ©nero                       int64
Adulto_mayor                 int64
Tiene_pareja                 int64
Tiene_dependientes           int64
AntigÃ¼edad_meses             int64
Servicio_telefonÃ­a           int64
LÃ­neas_mÃºltiples             int64
Servicio_internet            int64
Seguridad_en_lÃ­nea           int64
Respaldo_en_lÃ­nea            int64
ProtecciÃ³n_dispositivos      int64
Soporte_tÃ©cnico              int64
TV_en_streaming              int64
PelÃ­culas_en_streaming       int64
Tipo_contrato                int64
Factura_sin_papel            int64
MÃ©todo_pago                  int64
Cargo_mensual              float64
Cargo_total                float64
Cuentas_Diarias            float64
dtype: object